{% block banner_bottom %}

<div class="banner-bottom">
    <div class="container">
        <div class="col-md-5 wthree_banner_bottom_left">
            <div class="video-img">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
                    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                </a>
            </div>
            <!-- pop-up-box -->
            <script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}" type="text/javascript"></script>
            <!--//pop-up-box -->
            <div id="small-dialog" class="mfp-hide">
                <iframe src="https://www.youtube.com/embed/bv-eomSjDGw"></iframe>
            </div>
                <script>
                    $(document).ready(function() {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                    });
                </script>
        </div>
        <div class="col-md-7 wthree_banner_bottom_right">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#bestseller" id="bestseller-tab" role="tab" data-toggle="tab" aria-controls="new">Bán chạy nhất</a></li>
                    <li role="presentation"><a href="#recommended" role="tab" id="recommended-tab" data-toggle="tab" aria-controls="recommended">Đề xuất</a></li>
                    <li role="presentation"><a href="#foreignbook" role="tab" id="foreignbook-tab" data-toggle="tab" aria-controls="foreignbook">Sách ngoại văn</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="bestseller" aria-labelledby="bestseller-tab">
                        <div class="agile_ecommerce_tabs">
                            {% for i in range(0, list_book|length) %}
                            <div class="col-md-4 agile_ecommerce_tab_left">
                                <div>
                                <div class="hs-wrapper">
<!--                                    <a href="{{url_for('load_detail_book_by_id', id_book=list_book[i].id)}}">-->
                                        {% for j in list_book_image[i] %}
                                            <img src="{{url_for('static', filename = j.img )}}" alt="{{list_book[i].name}}" class="img-responsive" />
                                        {% endfor %}
<!--                                    </a>-->
<!--                                    <div class="w3_hs_bottom">-->
<!--                                        <ul>-->
<!--                                            <li>-->
<!--                                                <a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
                                </div>
                                <h5><a href="{{url_for('load_detail_book_by_id', id_book=list_book[i].id)}}">{{ list_book[i].name }}</a></h5>
                                    <div class="simpleCart_shelfItem">
                                    <p><span>{{ list_book[i].price }}</span> <i class="item_price">{{ list_book[i].price*(1-list_book[i].discount) }}</i></p>
                                    </div>
                                    <input type="button" value="Dat Hang"
                                       onclick="addToCart({{ list_book[i].id }}, '{{ list_book[i].name }}', {{ list_book[i].price }}, 1)"
                                       class="btn btn-primary"
                                        />
                                </div>
                            </div>

                            {% endfor %}
<!--                            <div class="col-md-4 agile_ecommerce_tab_left">-->
<!--                                <div class="hs-wrapper-cus">-->
<!--                                    <a href="#">-->
<!--                                        <img src="../static/images/5.jpg" alt=" " class="img-responsive" />-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <h5><a href="single.html">Vui vẻ không quạu nha</a></h5>-->
<!--                                <div class="simpleCart_shelfItem">-->
<!--                                    <p><span>50.000 ₫</span> <i class="item_price">41.000 ₫</i></p>-->
<!--                                    <form action="#" method="post">-->
<!--                                        <input type="hidden" name="cmd" value="_cart" />-->
<!--                                        <input type="hidden" name="add" value="1" />-->
<!--                                        <input type="hidden" name="w3ls_item" value="Vui vẻ không quạu nha" />-->
<!--                                        <input type="hidden" name="amount" value="41000.00" />-->
<!--                                        <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-4 agile_ecommerce_tab_left">-->
<!--                                <div class="hs-wrapper">-->
<!--                                    <a href="#">-->
<!--                                        <img src="../static/images/8.jpg" alt=" " class="img-responsive" />-->
<!--                                        <img src="../static/images/6.jpg" alt=" " class="img-responsive" />-->
<!--                                        <img src="../static/images/7.jpg" alt=" " class="img-responsive" />-->
<!--                                        <img src="../static/images/8.jpg" alt=" " class="img-responsive" />-->
<!--                                        <img src="../static/images/6.jpg" alt=" " class="img-responsive" />-->
<!--                                        <img src="../static/images/7.jpg" alt=" " class="img-responsive" />-->
<!--                                        <img src="../static/images/8.jpg" alt=" " class="img-responsive" />-->
<!--                                        <img src="../static/images/6.jpg" alt=" " class="img-responsive" />-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <h5><a href="single.html">Hôm nay em có ổn không?</a></h5>-->
<!--                                <div class="simpleCart_shelfItem">-->
<!--                                    <p><i class="item_price">59.000 ₫</i></p>-->
<!--                                    <form action="#" method="post">-->
<!--                                        <input type="hidden" name="cmd" value="_cart" />-->
<!--                                        <input type="hidden" name="add" value="1" />-->
<!--                                        <input type="hidden" name="w3ls_item" value="Hôm nay em có ổn không?" />-->
<!--                                        <input type="hidden" name="amount" value="59000.00"/>-->
<!--                                        <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="recommended" aria-labelledby="recommended-tab">
                        <div class="agile_ecommerce_tabs">
                            <div class="col-md-4 agile_ecommerce_tab_left">
                                <div class="hs-wrapper">
                                    <a href="#">
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                    </a>
                                </div>
                                <h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" />
                                        <input type="hidden" name="amount" value="112000.00" />
                                        <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 agile_ecommerce_tab_left">
                                <div class="hs-wrapper">
                                    <a href="#">
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                    </a>
                                </div>
                                <h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" />
                                        <input type="hidden" name="amount" value="112000.00" />
                                        <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 agile_ecommerce_tab_left">
                                <div class="hs-wrapper">
                                    <a href="#">
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                    </a>
                                </div>
                                <h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" />
                                        <input type="hidden" name="amount" value="112000.00" />
                                        <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="foreignbook" aria-labelledby="foreignbook-tab">
                        <div class="agile_ecommerce_tabs">
                            <div class="col-md-4 agile_ecommerce_tab_left">
                                <div class="hs-wrapper">
                                    <a href="#">
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                    </a>
                                </div>
                                <h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" />
                                        <input type="hidden" name="amount" value="112000.00" />
                                        <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 agile_ecommerce_tab_left">
                                <div class="hs-wrapper">
                                    <a href="#">
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                    </a>
                                </div>
                                <h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" />
                                        <input type="hidden" name="amount" value="112000.00" />
                                        <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4 agile_ecommerce_tab_left">
                                <div class="hs-wrapper">
                                    <a href="#">
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                        <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                    </a>
                                </div>
                                <h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
                                <div class="simpleCart_shelfItem">
                                    <p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" />
                                        <input type="hidden" name="amount" value="112000.00" />
                                        <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

{% endblock %}