<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>BookStore Team2 | Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<link href="../static/css/custom.css" rel="stylesheet" type="text/css" media="all">
<!-- font-awesome icons -->
<link href="../static/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<!-- //js -->  
<!-- web fonts --> 
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling --> 
</head> 
<body>
	<!-- for bootstrap working -->
	<script type="text/javascript" src="../static/js/bootstrap-3.1.1.min.js"></script>
	<!-- //for bootstrap working -->
	<!-- header -->
	<div class="header" id="home1">
		<div class="container">
			<div style="float: left;"><img src="../static/images/brand-png.png"></div>
			<div class="w3l_logo">
				<h1><a href="index.html">Book Store<span>A book is a dream that you hold in your hand.</span></a></h1>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Tìm kiếm...">
						<input type="submit" value="Tìm">
					</form>
				</div>
            </div>
            <div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="cart cart box_1"> 
				<form action="#" method="post" class="last"> 
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>   
			</div>  
        </div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li><a href="index.html" class="act">Trang chủ</a></li>	
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-3">
										<ul class="multi-column-dropdown">
											<h6>Văn học</h6>
											<li><a href="products.html">Tiểu thuyết</a></li>
											<li><a href="products.html">Truyện ngắn <span>New</span></a></li> 
                                            <li><a href="products.html">Ngôn tình</a></li>
                                            <li><a href="products.html">12 cung hoàng đạo</a></li>
                                            <li><a href="products.html">Trinh thám</a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<ul class="multi-column-dropdown">
											<h6>Kinh tế</h6>
											<li><a href="products1.html">Quản trị - Lãnh đạo</a></li>
											<li><a href="products1.html">Marketing</a></li>
                                            <li><a href="products1.html">Phân tích kinh tế<span>New</span></a></li>
										</ul>
									</div>
									<div class="col-sm-3">
										<ul class="multi-column-dropdown">
											<h6>Thiếu nhi</h6>
											<li><a href="products2.html">Truyện thiếu nhi</a></li>
											<li><a href="products2.html">Tô màu, luyện chữ</a></li>
											<li><a href="products2.html">Sách kiến thức - Kỹ năng sống cho trẻ</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
                        </li>
                        <li><a href="index.html">Đội ngũ thành viên</a></li>
                        <li><a href="index.html">Liên hệ</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
	<!-- banner -->
	<div class="banner">
		<div class="container">
			<h3>Book Store,<span>Read, Succeed</span></h3>
		</div>
	</div>
	<!-- //banner --> 
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-5 wthree_banner_bottom_left">
				<div class="video-img">
					<a class="play-icon popup-with-zoom-anim" href="#small-dialog">
						<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
					</a>
				</div> 
				<!-- pop-up-box -->     
				<script src="../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
				<!--//pop-up-box -->
				<div id="small-dialog" class="mfp-hide">
	    			<iframe src="https://www.youtube.com/embed/bv-eomSjDGw"></iframe>
				</div>
					<script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
					</script>
			</div>
			<div class="col-md-7 wthree_banner_bottom_right">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#bestseller" id="bestseller-tab" role="tab" data-toggle="tab" aria-controls="new">Bán chạy nhất</a></li>
						<li role="presentation"><a href="#recommended" role="tab" id="recommended-tab" data-toggle="tab" aria-controls="recommended">Đề xuất</a></li>
						<li role="presentation"><a href="#foreignbook" role="tab" id="foreignbook-tab" data-toggle="tab" aria-controls="foreignbook">Sách ngoại văn</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="bestseller" aria-labelledby="bestseller-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
                                        <a href="#">
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        </a>
									</div> 
									<h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" /> 
											<input type="hidden" name="amount" value="112000.00" />   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>  
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper-cus">
                                        <a href="#">
											<img src="../static/images/5.jpg" alt=" " class="img-responsive" />
										</a>
									</div>
									<h5><a href="single.html">Vui vẻ không quạu nha</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>50.000 ₫</span> <i class="item_price">41.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Vui vẻ không quạu nha" /> 
											<input type="hidden" name="amount" value="41000.00" />   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<a href="#">
                                            <img src="../static/images/8.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/6.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/7.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/8.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/6.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/7.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/8.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/6.jpg" alt=" " class="img-responsive" />
                                        </a>
									</div>
									<h5><a href="single.html">Hôm nay em có ổn không?</a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price">59.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Hôm nay em có ổn không?" /> 
											<input type="hidden" name="amount" value="59000.00"/>   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="recommended" aria-labelledby="recommended-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
                                        <a href="#">
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        </a>
									</div> 
									<h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" /> 
											<input type="hidden" name="amount" value="112000.00" />   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>  
									</div>									
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
                                        <a href="#">
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        </a>
									</div> 
									<h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" /> 
											<input type="hidden" name="amount" value="112000.00" />   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>  
									</div>									
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
                                        <a href="#">
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        </a>
									</div> 
									<h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" /> 
											<input type="hidden" name="amount" value="112000.00" />   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>  
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="foreignbook" aria-labelledby="foreignbook-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
                                        <a href="#">
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        </a>
									</div> 
									<h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" /> 
											<input type="hidden" name="amount" value="112000.00" />   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>  
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
                                        <a href="#">
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        </a>
									</div> 
									<h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" /> 
											<input type="hidden" name="amount" value="112000.00" />   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>  
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
                                        <a href="#">
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                                            <img src="../static/images/4.jpg" alt=" " class="img-responsive" />
                                        </a>
									</div> 
									<h5><a href="single.html">Con chim xanh biếc bay về</a></h5>
									<div class="simpleCart_shelfItem">
										<p><span>140.000 ₫</span> <i class="item_price">112.000 ₫</i></p>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart" />
											<input type="hidden" name="add" value="1" /> 
											<input type="hidden" name="w3ls_item" value="Con chim xanh biếc bay về" /> 
											<input type="hidden" name="amount" value="112000.00" />   
											<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
										</form>  
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner-bottom --> 
	<!-- new-products -->
	<div class="new-products">
		<div class="container">
			<h3>New Products</h3>
			<div class="agileinfo_new_products_grids">
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" /> 
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Laptops</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$520</span> <i class="item_price">$500</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Red Laptop"> 
								<input type="hidden" name="amount" value="500.00">   
								<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/4.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/4.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" /> 
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Black Phone</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$380</span> <i class="item_price">$370</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Black Phone"> 
								<input type="hidden" name="amount" value="370.00">   
								<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="../static/images/4.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/4.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/4.jpg" alt=" " class="img-responsive" /> 
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Kids Toy</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$150</span> <i class="item_price">$100</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Kids Toy"> 
								<input type="hidden" name="amount" value="100.00">   
								<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
							</form>
						</div>  
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/4.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/4.jpg" alt=" " class="img-responsive" />
							<img src="../static/images/3.jpg" alt=" " class="img-responsive" /> 
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Induction Stove</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$280</span> <i class="item_price">$250</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Induction Stove"> 
								<input type="hidden" name="amount" value="250.00">   
								<button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //new-products -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Liên hệ</h3>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Số 1, Võ Văn Ngân, Quận Thủ Đức, <span>TP. Hồ Chí Minh.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">cnpm_team2@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Thông tin</h3>
					<ul class="info"> 
						<li><a href="about.html">Đội ngũ</a></li>
						<li><a href="mail.html">Liên hệ</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profile</h3>
					<h4>Theo dõi</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="google"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="../static/images/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>&copy; 2020 Book Store Team 2. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
	<!-- //footer --> 
	<!-- cart-js -->
	<script src="../static/js/minicart.js"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->   
</body>
</html>