<div class="header" id="home1">
    <div class="container">
        <div style="float: left;"><img src="{{url_for('static', filename='images/brand-png.png')}}"></div>
        <div class="w3l_logo">
            <h1><a href="/">Book Store<span>A book is a dream that you hold in your hand.</span></a></h1>
        </div>
        <div class="search">
            <input class="search_box" type="checkbox" id="search_box">
            <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
            <div class="search_form">
                <form action="/search" method="post">
                    <input type="text" name="Search" placeholder="Tìm kiếm...">
                    <input type="submit" value="Tìm">
                </form>
            </div>
        </div>
        <div>
        {% if current_user.is_authenticated %}
<!--            <div class = "w3l_login" aria-hidden="true">-->
         <div class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img src="{{url_for('static', filename=current_user.avatar)}}" style="width:40px;height:40px; object-fit:cover;"/>
            </a>

             <!-- Dropdown - User Information -->
                 <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                           aria-labelledby="userDropdown">
                     <a class="dropdown-item" href="/info">
                          Thông tin tài khoản
                     </a>
                    {% if current_user.id == 1 %}
                     <a class="dropdown-item" href="/admin">
                          Trang admin
                     </a>
                     {% endif %}
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="{{url_for('logout')}}">
                          Đăng xuất
                     </a>
                 </div>
             <h5>{{current_user.lname}} {{current_user.fname}}</h5>
         </div>
<!--                </div>-->

        </div>
        {%else%}
        <div class="w3l_login">
            <div class="w3l_login" aria-hidden="true">
                 <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
            </div>
        </div>
        {%endif%}
        </div>
        <div class="cart cart box_1">
            <form action="{{url_for('payment')}}">
                <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>