

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <h4 class="modal-title" id="myModalLabel">Đừng chần chừ, hãy đăng nhập ngay!</h4>
            </div>
            <div class="modal-body modal-body-sub">
                <div class="row">
                    <div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
                        <div class="sap_tabs">
                            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                                <ul>

                                    <li class="resp-tab-item" aria-controls="tab_item-0"><span>Đăng nhập</span></li>
                                    <li class="resp-tab-item" aria-controls="tab_item-1"><span>Đăng kí</span></li>
                                    <li class="resp-tab-item" aria-controls="tab_item-1"><span>Quên mật khẩu</span></li>

                                </ul>
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                    <div class="facts">
                                        <div class="register">
                                            <form action="{{url_for('login_admin')}}" method="post">

                                                <input style="width:90%" name="username" placeholder="example@gmail.com" type="email" required="">
                                                <span>
                                                    <input style="margin: 1em 0 0 !important; width:90%"  name="password" placeholder="Password" type="password" id="password" required="">
                                                    <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                                                </span>

                                                <script>
                                                    const togglePassword = document.querySelector('#togglePassword');
                                                    const password = document.querySelector('#password');

                                                    togglePassword.addEventListener('click', function (e) {
                                                                // toggle the type attribute
                                                                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                                                                password.setAttribute('type', type);
                                                                // toggle the eye slash icon
                                                                this.classList.toggle('fa-eye-slash');
                                                            });
                                                </script>
                                                <div class="sign-up">
                                                    <input type="submit" value="Đăng nhập"/
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
                                    <div class="facts">
                                        <div class="register">
                                            <form action="{{url_for('register')}}" method="post">

                                                <input placeholder="example@gmail.com" name="username" type="email" required="">
                                                <input placeholder="Nhập số điện thoại" name="phonenumber" type="text" style="margin-top:15px;" required="">
                                                <input placeholder="Nhập mật khẩu" name="password" type="password"  required="">
                                                <input placeholder="Nhập lại mật khẩu" name="password2" type="password" required="">


                                                <div class="sign-up">
                                                    <input type="submit" value="Tạo tài khoản"/>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                 <div class="tab-3 resp-tab-content" aria-labelledby="tab_item-1">
                                    <div class="facts">
                                        <div class="register">
                                            <form action="{{url_for('verifyemail')}}" method="post">
                                                <input placeholder="example@gmail.com" name="username" type="email" required="">
                                                <div class="sign-up">
                                                    <input type="submit" value="Gửi"/>
                                                </div>
                                                <a style="margin-top:30px;font-size:14pt;" id="forgot" href="/phone_verification" style="color:blue;"> Hoặc Xác thực qua điện thoại tại đây!</a>
<!--                                                <input placeholder="Phone Number" name="phonenumber" type="text" " required="">-->
<!--                                                -->
                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <script src="{{url_for('static', filename='js/easyResponsiveTabs.js')}}" type="text/javascript"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#horizontalTab').easyResponsiveTabs({
                                    type: 'default', //Types: default, vertical, accordion
                                    width: 'auto', //auto or any width like 600px
                                    fit: true   // 100% fit in a container
                                });
                            });
                        </script>
                        <div id="OR" class="hidden-xs">OR</div>
                    </div>
                    <div class="col-md-4 modal_body_right modal_body_right1">
                        <div class="row text-center sign-with">
                            <div class="col-md-12">
                                <h3 class="other-nw">Đăng nhập với</h3>
                            </div>
                            <div class="col-md-12">
                                <ul class="social">
                                    <li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
                                    <li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
                                    <li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
                                    <li class="social_behance"><a href="#" class="entypo-behance"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    {% if not current_user %}
        $('#myModal88').modal('show');
    {% endif %}
</script>