<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="act">Trang chủ</a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">

                                        {% for i in range(0, 5) %}
                                        <li><a href="{{url_for('searchCategory',id_category='list_book_category[i].id')}}" >{{list_book_category[i].name}}</a></li>
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">

                                        {%for j in range(0,4)%}
                                        <li><a href="{{url_for('searchCategory',id_category=list_book_category[j+5].id)}}">{{list_book_category[j+5].name}}</a></li>
                                        {%endfor%}

                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">

                                        {%for k in range(0, list_book_category|length -7) %}
                                        <li><a href="{{url_for('searchCategory',id_category=list_book_category[k+7].id)}}">{{list_book_category[k+7].name}}</a></li>
                                        {%endfor%}

                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="index.html">Đội ngũ thành viên</a></li>
                    <li><a href="index.html">Liên hệ</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>