<div class="new-products">
    <div class="container">
        <h3><div style="font-family:'Times New Roman', Times, serif">SÁCH MỚI NHẤT</div></h3>
        <div class="agileinfo_new_products_grids">
            {% for i in range(0, list_recommend_book_new|length) %}
            <div class= "col-md-3 agileinfo_new_products_grid">
                <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                    <div class="hs-wrapper hs-wrapper1">
                        {% for j in list_book_image[i] %}
                        <img src="{{url_for('static', filename = j.img )}}" alt="{{list_recommend_book_new[i].name}}" class="img-responsive" />
                        {% endfor %}
                    </div>
                   <div class="input-group"><a class="name_product" href="{{url_for('load_detail_book_by_id', id_book=list_recommend_book_new[i].id)}}">{{ list_recommend_book_new[i].name }}</a></div>
                    <div class="simpleCart_shelfItem">
                        <p><span style="font-size:12px;">{{ list_recommend_book_new[i].price }} VND</span> <i style="font-size:17px" class="item_price">{{ list_recommend_book_new[i].price*(1-list_recommend_book_new[i].discount) }} VND</i></p>
                    </div>
                    <input class = "btn btn-primary" type="button" value="Thêm vào giỏ"
                       onclick="addToCart({{ list_recommend_book_new[i].id }}, '{{ list_recommend_book_new[i].name }}', {{ list_recommend_book_new[i].price }}, 1)"/>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"> </div>
</div>