.hs-wrapper-cus{
	width: 215px;
    height: 244px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.dropdown-item {
    display: block;
    padding: 0.25rem 1.5rem;
    clear: both;
    width: 100%;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
    .dropdown-item:active {
        background-color: #eaecf4;
        color: #3a3b45;
    }

    .dropdown-item:hover, .dropdown-item:focus {
        color: #2e2f37;
        text-decoration: none;
        background-color: #f8f9fc;
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #B81D22;
    }

    .dropdown-item.disabled, .dropdown-item:disabled {
        color: #858796;
        pointer-events: none;
        background-color: transparent;
    }
.dropdown-menu.show {
    display: block;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #858796;
    white-space: nowrap;
}

.dropdown-item-text {
    display: block;
    padding: 0.25rem 1.5rem;
    color: #3a3b45;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 2px solid #eaecf4;
}

.dropdown-menu-center {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: auto;
    left: 70%;
}

.contain-account{
    position: relative;
	display: inline-block;
	float: left;
	margin-top: 1em;
}

.avatar_acc {
    object-fit:cover; height: 18rem; width: 18rem; border-radius: 50%
}

.input-group {
    position: relative;
    display: inline-grid;
    border-collapse: separate;
}

 .name_product{
      overflow:hidden;
      width: 90%;
      display: inline-block;
      ;;text-overflow:ellipsis;;;
      ;;white-space:nowrap;;;
      text-align:center;
    }
.name_product:hover{
    overflow: visible;
}