{% extends 'base/base.html' %}

{% block content %}

{% set ns = namespace(dem=0, dem1=0, dem2=0, dem3=0, dem4=0) %}
<!-- detail -->
<div class="container" style="margin-top:20px;">
    <div style=" text-align: right;">
        <a href="{{url_for('order_history')}}" style="color: #ff5063; font-size: 15px;">Quay lại trang lịch sử mua hàng</a>
    </div>
    <div style="font-weight: bold;
    font-size: 20px;
    color: #212121d9;">
        <i class="glyphicon glyphicon-map-marker"></i> Chi tiết đơn hàng #{{idbill}}
    </div>
    <div style="margin-top: 10px;">
        <div>Tên: {{name}}</div>
        <div>Số điện thoại: {{phone}}</div>
        <div>Địa chỉ: {{address}}</div>
    </div>
    <div>Hình thức thanh toán: Thanh toán sau khi nhận hàng.</div>
    {% if status == 0 %}
    <div>Trạng thái đơn hàng: Đã hủy</div>
    {% endif %}
    {% if status == 1 %}
    <div>Trạng thái đơn hàng: Chờ xác nhận</div>
    {% endif %}
    {% if status == 2 %}
    <div>Trạng thái đơn hàng: Đã xác nhận</div>
    {% endif %}
    {% if status == 3 %}
    <div>Trạng thái đơn hàng: Đang giao</div>
    {% endif %}
    {% if status == 4 %}
    <div>Trạng thái đơn hàng: Đã giao</div>
    {% endif %}
    <br>
    <table class="table table-bordered">
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
        {% for item in list_item %}
        <tr>
            {% set ns.dem = ns.dem +1%}
            <td>{{ns.dem}}</td>
            {% for b in list_book %}
            {% if b.id == item.id_book %}
            <td>{{b.name}}</td>
            {% endif %}
            {% endfor %}
            <td>{{item.price}} VND</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price * item.quantity}} VND</td>
        </tr>
        {% endfor %}
    </table>
    <div class="col-sm-10">
        <div style="text-align:right;">Tổng cộng</div>
    </div>
    <div class="col-sm-2">
        <div style="text-align:right; font-weight: bold; color: #ff5063;">{{total_amount}} VND</div>
    </div>
</div>
<!-- //detail-->
{% endblock %}