<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-color: lightblue;
        }
    </style>

</head>
<body>
    <h1>WELCOME TO OUR WEBSITE!!!</h1>
    <form method="get">
        <input type="text" name="keyword" />
        <input type="submit" value="Search" />
    </form>
    <ul>
        {% for cat in categories %}
        <li><a href="#">{{ cat }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>