{% extends 'base/base.html' %}
<!--{% block info%}-->
<!-- <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->
<!--	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--{% endblock%}-->
{% block content %}

<div class="container emp-profile">
            <form method="post" action = "{{url_for('upload_image')}}" enctype="multipart/form-data" >
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img" >
                             <input class="input--style-3" type="hidden" placeholder="Address" name="idUser" value = "{{current_user.id}}">
                                <img class = "img" src="{{url_for('static', filename=current_user.avatar)}}" alt=""/>
                            </div>
                        <div id = "changeImg" >
                               <input onclick="displayChooseImage()" id = "changeImgBtn" class = "btnInfo" type="button" value=" Change Photo">
                            </div>
                        <div id = "fileImg" >
                                <input class = "btnInfo" type="file" name="file" />
                                 <input onclick="unDisplayChooseImage()" id = "img" class = "btnInfo"  type="submit" value=" Change Photo">
                            </div>
                    </div>


                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                       {{current_user.name}}
                                    </h5>
                                    <h3>
                                       Wellcome to my bookstore !
                                    </h3>
                            <h4>Your infomation</h4>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class = "edit_info" href="#" data-toggle="modal" data-target="#myModal88"><span> Edit info</span></a>
<!--                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                            <div class="information" >
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Your Id:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{current_user.id}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Name:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{current_user.fname + current_user.lname }}  </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Genger:</label>
                                            </div>
                                            <div class="col-md-3">

                                                {% if( current_user.gender == 0)%}
                                                     <p>Nam</p>
                                                {% else %}
                                                     <p>Nữ</p>

                                                {%endif%}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Phone:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{current_user.phone}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Birthday:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{current_user.birthday}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Address:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{current_user.address}}</p>
                                            </div>
                                        </div>
                            </div>


                    </div>
                </div>
            </form>
<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class = "modal-content" >
          <div class = " modal-info">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Edit Info</h2>
                    <form method="POST" action="{{url_for('updateInfoUser')}}">
                         <input class="input--style-3" type="hidden" placeholder="Address" name="idUser" value = "{{current_user.id}}">
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Last name" name="lname" value = "{{current_user.lname }}">
                        </div>
                          <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="First Name" name="fname" value = "{{current_user.fname}}">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3 js-datepicker" type="text" placeholder="Birthdate" name="birthday" value="{{current_user.birthday}}">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="gender">
                                    <option disabled="disabled" selected="selected">Gender</option>
                                    <option>Male</option>
                                    <option>Female</option>

                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Address" name="address" value = "{{current_user.address}}">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="text" placeholder="Phone" name="phone" value = "{{current_user.phone}}">
                        </div>
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Edit</button>
                        </div>
                    </form>

            </div>
        </div>
    </div>
        </div>
    </div>
    </div>
        </div>
</div>

<script type="text/javascript">

    function displayChooseImage() {
    document.getElementById("fileImg").style.display = 'block';
    document.getElementById("changeImg").style.display = 'none';
    }

    function unDisplayChooseImage() {
    document.getElementById("fileImg").style.display = 'none';
    document.getElementById("changeImg").style.display = 'block';
    }

        </script>
    <!-- Jquery JS-->
    <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
    <!-- Vendor JS-->
    <script src="{{url_for('static', filename = 'vendor/select2/select2.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/datepicker/moment.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'vendor/datepicker/daterangepicker.js')}}"></script>

    <!-- Main JS-->
    <script src="{{url_for('static', filename ='js/global.js')}}"></script>
{% endblock %}