{% extends 'base/base.html'%}
{% block content %}


    <div class="container">
        <div style="margin-top:100px; pull-center" >

            <form class="form-inline " style="padding-left: 120px" >
                  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
                  <i class="fas fa-search" aria-hidden="true"></i>

                <select name="sort" id="sort">
                    <option value="volvo">Sắp xếp</option>
                    <option value="saab">Giá bán</option>
                    <option value="opel">Mới nhất</option>

                </select>

                <select name="sort" id="have">
                    <option value="volvo">Còn hàng</option>
                    <option value="saab">Tất cả</option>


                </select>

                <select name="sort" id="page">
                    <option value="volvo">8 sản phẩm</option>
                    <option value="saab">16 sản phẩm</option>


                </select>
            </form>

        </div>
        <hr>
    {% block new_products %}
    <div  style="margin: 50px;" >
        <!-- Search form -->

        {% for p in listbook %}
		<div class="col-md-3 agileinfo_new_products_grid" style="margin-bottom:20px">
                <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                    <div class="hs-wrapper hs-wrapper1">
                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />
                        <div class="w3_hs_bottom w3_hs_bottom_sub">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h5><a href="{{url_for('load_detail_book_by_id', id_book=p.id)}}">{{ p.name }}</a></h5>

                    <div class="simpleCart_shelfItem">
                        <p><span>${{ p.price }}</span> <i class="item_price">${{ p.price*(1-p.discount) }}</i></p>
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="w3ls_item" value="Red Laptop">
                            <input type="hidden" name="amount" value="500.00">
                            <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
	{% endblock %}


</div>
</div>
{% for message in get_flashed_messages() %}
<div class=flash>
    {{ message }}
</div>
{% endfor %}
{% endblock %}

