{% extends 'base/base.html' %}


{% block content %}
<h1 class="text-center text-danger">TRANG THANH TOAN</h1>
<div class="container">
    <div class="alert alert-warning">
        <h3>SO LUONG SAN PHAM: <span id="total_quantity">{{total_quantity}}</span></h3>
        <h3>TONG TIEN: <span id="total_amount">{{total_amount}}</span> VND</h3>
    </div>
    <table class="table">
        <tr>
            <th>Tên</th>
            <th>Giá gốc</th>
            <th>Giá khuyến mãi</th>
            <th>Số lượng</th>
        </tr>
        {% if id_cart != [] and list_item != [] %}
        {% for p in list_item %}

        <tr>
            {% for b in list_book %}
            {% if b.id == p.id_book %}
            <td>{{b.name}}</td>
            {% endif %}
            {% endfor %}
            <td>{{p.price}}</td>
            <td>{{p.discount}}</td>
            <td>
                <div class="form-group">
                    <input class="form-control" type="number" value="{{p.quantity}}" onchange="update_item(this, {{p.id}}   )" >
                </div>
            </td>
            <td>
                <div class="form-group">
                    {% set check ='' %}
                    {% if p.would_buy == 1 %}
                    {% set check = 'checked' %}
                    {% endif %}
                    <input class="form-control" type="checkbox" id="{{p.id}}" {{check}} onclick="check_would_buy({{p.id}})"/>
                </div>
            </td>
            <td>
                <a href="javascript:;" onclick="del_item({{p.id}})">Xóa</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">KHONG CO SAN PHAM NAO TRONG GIO </td>
        </tr>
        {% endif %}
    </table>

    <div>
        <form action="{{url_for('confirm_pay')}}" method="post">
            <input type="submit" value="Di qua trang thanh toan"/>
        </form>
    </div>
</div>
{% endblock %}