{% extends 'base/base.html' %}

{% block content %}
<link href="{{url_for('static', filename='css/payment.css')}}" rel="stylesheet">
    <!-- payment-->
    <div class="container">
        <div class="checkout-title">
            <img src="{{url_for('static', filename='images/icon-shopping.png')}}"/>
            GIỎ HÀNG
        </div>
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
				<th>Số lượng</th>
				<th>Thành tiền</th>
                <th colspan="2">Hành động</th>
            </tr>
        {% if id_cart != [] and list_item != [] %}
        {% for p in list_item %}

        <tr>
            {% for b in list_book %}
            {% if b.id == p.id_book %}
            <td>1</td>
            <td>{{b.name}}</td>
            {% endif %}
            {% endfor %}
            <td><span>{{p.discount|int}} VND</span>&nbsp;<span style="text-decoration: line-through; font-size: 12px;">{{p.price}} VND</span></td>
            <td>
                <div class="form-group">
                    <input class="form-control" type="number" value="{{p.quantity}}" onchange="update_item(this, {{p.id}})" >
                </div>
            </td>
            <td>{{p.discount|int}} VND</td>
            <td class="align-center-pay">
                    {% set check ='' %}
                    {% if p.would_buy == 1 %}
                    {% set check = 'checked' %}
                    {% endif %}
                    <input type="checkbox" id="{{p.id}}" {{check}} onclick="check_would_buy({{p.id}})"/>
            </td>
            <td class="align-center-pay">
                <a href="javascript:;" onclick="del_item({{p.id}})" style="color: #ff5063;">Xóa</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">KHONG CO SAN PHAM NAO TRONG GIO </td>
        </tr>
        {% endif %}
    </table>
    <div class="col-sm-9">
        <div class="align-right-pay">Số lượng sản phẩm: </div>
        <div class="align-right-pay">Tổng tiền hàng: </div>
    </div>
    <div class="col-sm-3">
        <div class="align-left-pay" id="total_quantity">{{total_quantity}}</div>
        <div class="align-left-pay total-price" id="total_amount">{{total_amount|int}} VND</div>
    </div>

    <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
        <form action="{{url_for('confirm_pay')}}" method="post">
            <input type="submit" value="Thanh toán" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}