{% extends 'base/base.html'%}
{% block content %}

    <div class="container">
        <div style="margin-top:100px; pull-center" >

<!--            <form class="form-inline " style="padding-left: 120px" >-->
<!--                  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"-->
<!--                    aria-label="Search">-->
<!--                  <i class="fas fa-search" aria-hidden="true"></i>-->

<!--                <select name="sort" id="sort">-->
<!--                    <option value="volvo">Sắp xếp</option>-->
<!--                    <option value="saab">Giá bán</option>-->
<!--                    <option value="opel">Mới nhất</option>-->

<!--                </select>-->

<!--                <select name="sort" id="have">-->
<!--                    <option value="volvo">Còn hàng</option>-->
<!--                    <option value="saab">Tất cả</option>-->


<!--                </select>-->

<!--                <select name="sort" id="page">-->
<!--                    <option value="volvo">8 sản phẩm</option>-->
<!--                    <option value="saab">16 sản phẩm</option>-->


<!--                </select>-->
<!--            </form>-->

        </div>
        <hr>
    {% block new_products %}
    <div  style="margin: 50px;" >
        <!-- Search form -->
        {% if len == 0 %}
        <h3>Không có sản phẩm cần tìm ! </h3>
        {% include 'error.html' %}
        {% endif%}

        {% for i in range(len) %}

		<div class="col-md-3 agileinfo_new_products_grid" style="margin-bottom:20px">
                <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                    <div class="hs-wrapper hs-wrapper1">
                        {%for img in listImage[i] %}
                            <img src="{{url_for('static', filename = img.image)}}" alt=" " class="img-responsive" />
<!--                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />-->
<!--                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />-->
<!--                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />-->
<!--                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />-->
<!--                        <img src="../static/images/3.jpg" alt=" " class="img-responsive" />-->
                        {% endfor %}
<!--                        <div class="w3_hs_bottom w3_hs_bottom_sub">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>


                    <div class="input-group"><a class="name_product" href="{{url_for('load_detail_book_by_id', id_book=listBook[i].id )}}">{{ listBook[i].name }}</a></div>


                    <div class="simpleCart_shelfItem">
                        <p><span style="font-size:12px;">${{ listBook[i].price }} VND</span> <i style="font-size:17px" class="item_price">${{ listBook[i].price*(1-listBook[i].discount) }} VND</i></p>
                        <input type="button" value="Thêm vào giỏ"
                       onclick="addToCart({{ listBook[i].id }}, '{{ listBook[i].name }}', {{ listBook[i].price }}, {{listBook[i].discount }}, 1)"
                       class="btn btn-primary"
                        />
                    </div>
                </div>

            </div>

        {% endfor %}
    </div>
	{% endblock %}


</div>
</div>

{% for message in get_flashed_messages() %}
<div class=flash>
    {{ message }}
</div>
{% endfor %}
{% endblock %}

