
{%block body %}
    <div class = "">
        {%if err_msg%}
        <div class = "alert alert-danger">
            {{err_msg}}
        </div>
        {%endif%}
            <form method="post" action = "{{url_for('login_admin')}}">
                <div class = "form-group">
                    <label>Username</label>
                    <input type = "text" class = "form-control" name = "username">
                </div>
                 <div class = "form-group">
                    <label>Password</label>
                    <input type = "password" class = "form-control" name = "password">
                </div>
                 <div class = "form-group">
                    <input type = "submit" value = "LOGIN" class = "btn btn-danger">
                </div>
            </form>
    </div>
{%endblock%}